<div class="sidebar" id="sidebar">
	<script type="text/javascript">try{ace.settings.check('sidebar' , 'fixed')}catch(e){}</script>
	<ul class="nav nav-list">
		<li>
			<a href={:U('Index/index')}> <i class="icon-user"></i>
				<span class="menu-text">个人中心</span>
			</a>
		</li>
		<li>
			<a href={:U('Index/fixprofile')} class="dropdown-toggle">
				<i class="icon-cog"></i>
				<span class="menu-text">个人设置</span> <b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href={:U('Index/fixprofile')}>
						<i class="icon-double-angle-right"></i>
						修改密码
					</a>
				</li>
				<li>
					<a href={:U('Index/addprofile')}>
						<i class="icon-double-angle-right"></i>
						修改个人资料
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href={:U('Index/dzswdiary')} class="dropdown-toggle">
				<i class="icon-edit"></i>
				<span class="menu-text">内容记录</span>
			</a>
		</li>

		<li>
			<a href={:U('Index/downloaddiary')} class="dropdown-toggle">
				<i class="icon-book"></i>
				<span class="menu-text">日记管理</span>
			</a>
		</li>
		<li>
			<a href={:U('Index/Index/index')} class="dropdown-toggle">
				<i class="icon-chevron-left"></i>
				<span class="menu-text">返回首页</span>
			</a>
		</li>
	</ul>
	<!-- /.nav-list -->
	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
	</div>
	<script type="text/javascript">try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}</script>
</div>