<div class="main-content">
	<div class="admin_update" name="{:U('Index/admin_update')}"></div>
	<div id="loading" name="__PUBLIC__/img/success.gif">数据交互中....</div>

	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}</script>
		<ul class="breadcrumb">
			<li> <i class="icon-home home-icon"></i>
				<a href="#">主页</a>
			</li>
			<li>
				<a href="#">电商记录</a>
			</li>
			<li class="active">上传日记</li>
		</ul>
		<!-- .breadcrumb -->
		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="输入您要查找的内容..." class="nav-search-input" id="nav-search-input" autocomplete="off" /> <i class="icon-search nav-search-icon"></i>
				</span>
			</form>
		</div>
		<!-- #nav-search -->
	</div>

	<div class="page-content">
		<!-- 更换头像标题开始 -->
		<div class="page-header">
			<h1>上传任务</h1>
		</div>
		<!-- 更换头像标题结束 -->

		<div class="row">
			<div class="col-xs-12">
				<!-- 内容区域开始 -->
				<!-- 上传任务-->
				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<form class="form-horizontal" id="diary-form" name="{:U('Index/UploadDiary')}">
							<div class="form-group has-info">
								<label for="inputInfo" class="col-xs-3 col-sm-1 control-label no-padding-right">输入主题</label>
								<div class="col-xs-12 col-sm-11">
									<span class="block input-icon input-icon-right">
										<input type="text" id="diary-title" class="width-100" />
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-8 col-sm-11">
									<div class="input-group">
										<input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy" />
										<span class="input-group-addon">
											<i class="icon-calendar bigger-110"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="wysiwyg-editor" id="editor1"></div>
							<div class="hr hr-double dotted"></div>
							<input type="button" name="upweek" class="btn btn-primary btn-block" value="提交" id="updiray-btn"></form>
						<script type="text/javascript">var $path_assets = "assets";</script>
						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
				<!-- 上传任务 -->
				<!-- 内容区域结束 -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content -->
</div>
<!-- /.main-content -->