<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}</script>

		<ul class="breadcrumb">
			<li> <i class="icon-home home-icon"></i>
				<a href="#">主页</a>
			</li>

			<li>
				<a href="#">消息通知</a>
			</li>
			<li class="active">资料更新</li>
		</ul>
		<!-- .breadcrumb -->

		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="输入您要查找的内容..." class="nav-search-input" id="nav-search-input" autocomplete="off" /> <i class="icon-search nav-search-icon"></i>
				</span>
			</form>
		</div>
		<!-- #nav-search -->
	</div>

	<div class="page-content">
		<!-- 更换头像标题开始 -->
		<div class="page-header">
			<h1>
				资料更新
				<small>
					<i class="icon-double-angle-right"></i>
					更新一览
				</small>
			</h1>
		</div>
		<!-- 更换头像标题结束 -->
		<div class="row">
			<div class="col-xs-12">
				<!-- 内容区域开始 -->

				<!-- 消息通知	 -->
				<div class="row">

					<div class="col-sm-12 widget-container-span">
						<div class="widget-box">
							<div class="widget-header widget-hea1der-small header-color-dark">
								<h6>Scroll Content</h6>

								<div class="widget-toolbar">
									<a href="#" data-action="settings">
										<i class="icon-cog"></i>
									</a>

									<a href="#" data-action="reload">
										<i class="icon-refresh"></i>
									</a>

									<a href="#" data-action="collapse">
										<i class="icon-chevron-up"></i>
									</a>

									<a href="#" data-action="close">
										<i class="icon-remove"></i>
									</a>
								</div>
							</div>

							<div class="widget-body">
								<div class="widget-main padding-4">
									<div class="slim-scroll" data-height="125">
										<div class="content">
											<div class="alert alert-info">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
											<div class="alert alert-danger">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
											<div class="alert alert-success">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
											<div class="alert alert-info">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
											<div class="alert alert-success">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
											<div class="alert alert-danger">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
											<div class="alert alert-info">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 消息通知结束 -->

				<!-- 内容区域结束 -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content -->
</div>
<!-- /.main-content -->