<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}</script>

		<ul class="breadcrumb">
			<li> <i class="icon-home home-icon"></i>
				<a href="#">主页</a>
			</li>

			<li>
				<a href="#">电商记录</a>
			</li>
			<li class="active">上传周记</li>
		</ul>
		<!-- .breadcrumb -->

		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="输入您要查找的内容..." class="nav-search-input" id="nav-search-input" autocomplete="off" /> <i class="icon-search nav-search-icon"></i>
				</span>
			</form>
		</div>
		<!-- #nav-search -->
	</div>

	<div class="page-content">
		<!-- 更换头像标题开始 -->
		<div class="page-header">
			<h1>
				上传周记
				<small>
					<i class="icon-double-angle-right"></i>
					2016-08-05
				</small>
			</h1>
		</div>
		<!-- 更换头像标题结束 -->
		<form class="form-horizontal" id="sample-form">
			<div class="row">
				<div class="col-xs-12">
					<!-- 内容区域开始 -->
					<!-- 电商记录	 -->
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div class="form-group has-info">
								<label for="inputInfo" class="col-xs-3 col-sm-2 control-label no-padding-right">输入主题</label>
								<div class="col-xs-12 col-sm-9">
									<span class="block input-icon input-icon-right">
										<input type="text" id="inputInfo" class="width-100" />
									</span>
								</div>
							</div>
							<div class="wysiwyg-editor" id="editor1"></div>
							<div class="hr hr-double dotted"></div>
							<input type="submit" name="upweek" class="btn btn-primary btn-block">
							
							<script type="text/javascript">
									var $path_assets = "assets";//this will be used in loading jQuery UI if needed!
								</script>
							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
					<!-- 电商记录 -->
					<!-- 内容区域结束 -->
				</div>
				<!-- /.col -->
			</div>
		</form>
		<!-- /.row -->
	</div>
	<!-- /.page-content -->
</div>
<!-- /.main-content -->