<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}</script>

		<ul class="breadcrumb">
			<li> <i class="icon-home home-icon"></i>
				<a href="#">主页</a>
			</li>

			<li>
				<a href="#">消息通知</a>
			</li>
			<li class="active">回复消息</li>
		</ul>
		<!-- .breadcrumb -->

		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="输入您要查找的内容..." class="nav-search-input" id="nav-search-input" autocomplete="off" /> <i class="icon-search nav-search-icon"></i>
				</span>
			</form>
		</div>
		<!-- #nav-search -->
	</div>

	<div class="page-content">
		<!-- 更换头像标题开始 -->
		<div class="page-header">
			<h1>
				回复消息
				<small>
					<i class="icon-double-angle-right"></i>
					消息一览
				</small>
			</h1>
		</div>
		<!-- 更换头像标题结束 -->
		<div class="row">
			<div class="col-xs-12">
				<!-- 内容区域开始 -->

				<!-- 消息通知	 -->
				<div id="timeline-1">
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-sm-offset-1">
							<div class="timeline-container">
								<div class="timeline-label">
									<span class="label label-primary arrowed-in-right label-lg"> <b>今天</b>
									</span>
								</div>

								<div class="timeline-items">
									<div class="timeline-item clearfix">
										<div class="timeline-info">
											<img alt="Susan't Avatar" src="__PUBLIC__/assets/avatars/avatar1.png" />
											<span class="label label-info label-sm">16:22</span>
										</div>

										<div class="widget-box transparent">
											<div class="widget-header widget-header-small">
												<h5 class="smaller">
													<a href="#" class="blue">Susan</a>
													<span class="grey">reviewed a product</span>
												</h5>

												<span class="widget-toolbar no-border">
													<i class="icon-time bigger-110"></i>
													16:22
												</span>

												<span class="widget-toolbar">
													<a href="#" data-action="reload">
														<i class="icon-refresh"></i>
													</a>

													<a href="#" data-action="collapse">
														<i class="icon-chevron-up"></i>
													</a>
												</span>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													Anim pariatur cliche reprehenderit, enim eiusmod
													<span class="red">high life</span>
													accusamus terry richardson ad squid &hellip;
													<div class="space-6"></div>

													<div class="widget-toolbox clearfix">
														<div class="pull-left">
															<i class="icon-hand-right grey bigger-125"></i>
															<a href="#" class="bigger-110">Click to read &hellip;</a>
														</div>

														<div class="pull-right action-buttons">
															<a href="#">
																<i class="icon-ok green bigger-130"></i>
															</a>

															<a href="#">
																<i class="icon-pencil blue bigger-125"></i>
															</a>

															<a href="#">
																<i class="icon-remove red bigger-125"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="timeline-item clearfix">
										<div class="timeline-info">
											<img alt="Susan't Avatar" src="__PUBLIC__/assets/avatars/avatar1.png" />
											<span class="label label-info label-sm">16:22</span>
										</div>

										<div class="widget-box transparent">
											<div class="widget-header widget-header-small">
												<h5 class="smaller">
													<a href="#" class="blue">Susan</a>
													<span class="grey">reviewed a product</span>
												</h5>

												<span class="widget-toolbar no-border">
													<i class="icon-time bigger-110"></i>
													16:22
												</span>

												<span class="widget-toolbar">
													<a href="#" data-action="reload">
														<i class="icon-refresh"></i>
													</a>

													<a href="#" data-action="collapse">
														<i class="icon-chevron-up"></i>
													</a>
												</span>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													Anim pariatur cliche reprehenderit, enim eiusmod
													<span class="red">high life</span>
													accusamus terry richardson ad squid &hellip;
													<div class="space-6"></div>

													<div class="widget-toolbox clearfix">
														<div class="pull-left">
															<i class="icon-hand-right grey bigger-125"></i>
															<a href="#" class="bigger-110">Click to read &hellip;</a>
														</div>

														<div class="pull-right action-buttons">
															<a href="#">
																<i class="icon-ok green bigger-130"></i>
															</a>

															<a href="#">
																<i class="icon-pencil blue bigger-125"></i>
															</a>

															<a href="#">
																<i class="icon-remove red bigger-125"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="timeline-item clearfix">
										<div class="timeline-info">
											<img alt="Susan't Avatar" src="__PUBLIC__/assets/avatars/avatar1.png" />
											<span class="label label-info label-sm">16:22</span>
										</div>

										<div class="widget-box transparent">
											<div class="widget-header widget-header-small">
												<h5 class="smaller">
													<a href="#" class="blue">Susan</a>
													<span class="grey">reviewed a product</span>
												</h5>

												<span class="widget-toolbar no-border">
													<i class="icon-time bigger-110"></i>
													16:22
												</span>

												<span class="widget-toolbar">
													<a href="#" data-action="reload">
														<i class="icon-refresh"></i>
													</a>

													<a href="#" data-action="collapse">
														<i class="icon-chevron-up"></i>
													</a>
												</span>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													Anim pariatur cliche reprehenderit, enim eiusmod
													<span class="red">high life</span>
													accusamus terry richardson ad squid &hellip;
													<div class="space-6"></div>

													<div class="widget-toolbox clearfix">
														<div class="pull-left">
															<i class="icon-hand-right grey bigger-125"></i>
															<a href="#" class="bigger-110">Click to read &hellip;</a>
														</div>

														<div class="pull-right action-buttons">
															<a href="#">
																<i class="icon-ok green bigger-130"></i>
															</a>

															<a href="#">
																<i class="icon-pencil blue bigger-125"></i>
															</a>

															<a href="#">
																<i class="icon-remove red bigger-125"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
								<!-- /.timeline-items -->
							</div>
							<!-- /.timeline-container -->

							<div class="timeline-container">
								<div class="timeline-label">
									<span class="label label-primary arrowed-in-right label-lg"> <b>今天</b>
									</span>
								</div>

								<div class="timeline-items">
									<div class="timeline-item clearfix">
										<div class="timeline-info">
											<img alt="Susan't Avatar" src="__PUBLIC__/assets/avatars/avatar1.png" />
											<span class="label label-info label-sm">16:22</span>
										</div>

										<div class="widget-box transparent">
											<div class="widget-header widget-header-small">
												<h5 class="smaller">
													<a href="#" class="blue">Susan</a>
													<span class="grey">reviewed a product</span>
												</h5>

												<span class="widget-toolbar no-border">
													<i class="icon-time bigger-110"></i>
													16:22
												</span>

												<span class="widget-toolbar">
													<a href="#" data-action="reload">
														<i class="icon-refresh"></i>
													</a>

													<a href="#" data-action="collapse">
														<i class="icon-chevron-up"></i>
													</a>
												</span>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													Anim pariatur cliche reprehenderit, enim eiusmod
													<span class="red">high life</span>
													accusamus terry richardson ad squid &hellip;
													<div class="space-6"></div>

													<div class="widget-toolbox clearfix">
														<div class="pull-left">
															<i class="icon-hand-right grey bigger-125"></i>
															<a href="#" class="bigger-110">Click to read &hellip;</a>
														</div>

														<div class="pull-right action-buttons">
															<a href="#">
																<i class="icon-ok green bigger-130"></i>
															</a>

															<a href="#">
																<i class="icon-pencil blue bigger-125"></i>
															</a>

															<a href="#">
																<i class="icon-remove red bigger-125"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="timeline-item clearfix">
										<div class="timeline-info">
											<img alt="Susan't Avatar" src="__PUBLIC__/assets/avatars/avatar1.png" />
											<span class="label label-info label-sm">16:22</span>
										</div>

										<div class="widget-box transparent">
											<div class="widget-header widget-header-small">
												<h5 class="smaller">
													<a href="#" class="blue">Susan</a>
													<span class="grey">reviewed a product</span>
												</h5>

												<span class="widget-toolbar no-border">
													<i class="icon-time bigger-110"></i>
													16:22
												</span>

												<span class="widget-toolbar">
													<a href="#" data-action="reload">
														<i class="icon-refresh"></i>
													</a>

													<a href="#" data-action="collapse">
														<i class="icon-chevron-up"></i>
													</a>
												</span>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													Anim pariatur cliche reprehenderit, enim eiusmod
													<span class="red">high life</span>
													accusamus terry richardson ad squid &hellip;
													<div class="space-6"></div>

													<div class="widget-toolbox clearfix">
														<div class="pull-left">
															<i class="icon-hand-right grey bigger-125"></i>
															<a href="#" class="bigger-110">Click to read &hellip;</a>
														</div>

														<div class="pull-right action-buttons">
															<a href="#">
																<i class="icon-ok green bigger-130"></i>
															</a>

															<a href="#">
																<i class="icon-pencil blue bigger-125"></i>
															</a>

															<a href="#">
																<i class="icon-remove red bigger-125"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="timeline-item clearfix">
										<div class="timeline-info">
											<img alt="Susan't Avatar" src="__PUBLIC__/assets/avatars/avatar1.png" />
											<span class="label label-info label-sm">16:22</span>
										</div>

										<div class="widget-box transparent">
											<div class="widget-header widget-header-small">
												<h5 class="smaller">
													<a href="#" class="blue">Susan</a>
													<span class="grey">reviewed a product</span>
												</h5>

												<span class="widget-toolbar no-border">
													<i class="icon-time bigger-110"></i>
													16:22
												</span>

												<span class="widget-toolbar">
													<a href="#" data-action="reload">
														<i class="icon-refresh"></i>
													</a>

													<a href="#" data-action="collapse">
														<i class="icon-chevron-up"></i>
													</a>
												</span>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													Anim pariatur cliche reprehenderit, enim eiusmod
													<span class="red">high life</span>
													accusamus terry richardson ad squid &hellip;
													<div class="space-6"></div>

													<div class="widget-toolbox clearfix">
														<div class="pull-left">
															<i class="icon-hand-right grey bigger-125"></i>
															<a href="#" class="bigger-110">Click to read &hellip;</a>
														</div>

														<div class="pull-right action-buttons">
															<a href="#">
																<i class="icon-ok green bigger-130"></i>
															</a>

															<a href="#">
																<i class="icon-pencil blue bigger-125"></i>
															</a>

															<a href="#">
																<i class="icon-remove red bigger-125"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
								<!-- /.timeline-items -->
							</div>
							<!-- /.timeline-container -->

						</div>
					</div>
				</div>

				<!-- 消息通知结束 -->

				<!-- 内容区域结束 -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content -->
</div>
<!-- /.main-content -->