<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}</script>

		<ul class="breadcrumb">
			<li> <i class="icon-home home-icon"></i>
				<a href="#">主页</a>
			</li>

			<li>
				<a href="#">消息通知</a>
			</li>
			<li class="active">团队动态</li>
		</ul>
		<!-- .breadcrumb -->

		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="输入您要查找的内容..." class="nav-search-input" id="nav-search-input" autocomplete="off" /> <i class="icon-search nav-search-icon"></i>
				</span>
			</form>
		</div>
		<!-- #nav-search -->
	</div>

	<div class="page-content">
		<!-- 更换头像标题开始 -->
		<div class="page-header">
			<h1>
				团队动态
				<small>
					<i class="icon-double-angle-right"></i>
					团队动态一览
				</small>
			</h1>
		</div>
		<!-- 更换头像标题结束 -->
		<div class="row">
			<div class="col-xs-12">
				<!-- 内容区域开始 -->

				<!-- 消息通知	 -->
				<div class="row">
					<div class="col-xs-12 col-sm-12 widget-container-span">
						<div class="widget-box">
							<div class="widget-header">
								<h5>Default Widget Box</h5>

								<div class="widget-toolbar">
									<a href="#" data-action="settings">
										<i class="icon-cog"></i>
									</a>

									<a href="#" data-action="reload">
										<i class="icon-refresh"></i>
									</a>

									<a href="#" data-action="collapse">
										<i class="icon-chevron-up"></i>
									</a>

									<a href="#" data-action="close">
										<i class="icon-remove"></i>
									</a>
								</div>
							</div>

							<div class="widget-body">
								<div class="widget-main">
									<p class="alert alert-info">
										Nunc aliquam enim ut arcu aliquet adipiscing. Fusce dignissim volutpat justo non consectetur. Nulla fringilla eleifend consectetur.
									</p>
									<p class="alert alert-success">
										Raw denim you probably haven't heard of them jean shorts Austin.
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 widget-container-span">
						<div class="widget-box">
							<div class="widget-header header-color-blue">
								<h5 class="bigger lighter">
									<i class="icon-table"></i>
									Tables & Colors
								</h5>

								<div class="widget-toolbar widget-toolbar-light no-border">
									<select id="simple-colorpicker-1" class="hide">
										<option selected="" data-class="blue" value="#307ECC">#307ECC</option>
										<option data-class="blue2" value="#5090C1">#5090C1</option>
										<option data-class="blue3" value="#6379AA">#6379AA</option>
										<option data-class="green" value="#82AF6F">#82AF6F</option>
										<option data-class="green2" value="#2E8965">#2E8965</option>
										<option data-class="green3" value="#5FBC47">#5FBC47</option>
										<option data-class="red" value="#E2755F">#E2755F</option>
										<option data-class="red2" value="#E04141">#E04141</option>
										<option data-class="red3" value="#D15B47">#D15B47</option>
										<option data-class="orange" value="#FFC657">#FFC657</option>
										<option data-class="purple" value="#7E6EB0">#7E6EB0</option>
										<option data-class="pink" value="#CE6F9E">#CE6F9E</option>
										<option data-class="dark" value="#404040">#404040</option>
										<option data-class="grey" value="#848484">#848484</option>
										<option data-class="default" value="#EEE">#EEE</option>
									</select>
								</div>
							</div>

							<div class="widget-body">
								<div class="widget-main no-padding">
									<table class="table table-striped table-bordered table-hover">
										<thead class="thin-border-bottom">
											<tr>
												<th>
													<i class="icon-user"></i>
													User
												</th>

												<th>
													<i>@</i>
													Email
												</th>
												<th class="hidden-480">Status</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td class="">Alex</td>

												<td>
													<a href="#">alex@email.com</a>
												</td>

												<td class="hidden-480">
													<span class="label label-warning">Pending</span>
												</td>
											</tr>

											<tr>
												<td class="">Fred</td>

												<td>
													<a href="#">fred@email.com</a>
												</td>

												<td class="hidden-480">
													<span class="label label-success arrowed-in arrowed-in-right">Approved</span>
												</td>
											</tr>

											<tr>
												<td class="">Jack</td>

												<td>
													<a href="#">jack@email.com</a>
												</td>

												<td class="hidden-480">
													<span class="label label-warning">Pending</span>
												</td>
											</tr>

											<tr>
												<td class="">John</td>

												<td>
													<a href="#">john@email.com</a>
												</td>

												<td class="hidden-480">
													<span class="label label-inverse arrowed">Blocked</span>
												</td>
											</tr>

											<tr>
												<td class="">James</td>

												<td>
													<a href="#">james@email.com</a>
												</td>

												<td class="hidden-480">
													<span class="label label-info arrowed-in arrowed-in-right">Online</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- /span -->
				</div>
				<!-- /row -->
				<!-- 消息通知结束 -->

				<!-- 内容区域结束 -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content -->
</div>
<!-- /.main-content -->