<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}</script>

		<ul class="breadcrumb">
			<li> <i class="icon-home home-icon"></i>
				<a href="#">主页</a>
			</li>

			<li>
				<a href="#">消息通知</a>
			</li>
			<li class="active">本周任务</li>
		</ul>
		<!-- .breadcrumb -->

		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="输入您要查找的内容..." class="nav-search-input" id="nav-search-input" autocomplete="off" /> <i class="icon-search nav-search-icon"></i>
				</span>
			</form>
		</div>
		<!-- #nav-search -->
	</div>

	<div class="page-content">
		<!-- 更换头像标题开始 -->
		<div class="page-header">
			<h1>
				本周任务
				<small>
					<i class="icon-double-angle-right"></i>
					2015/05/30
				</small>
			</h1>
		</div>
		<!-- 更换头像标题结束 -->
		<div class="row">
			<div class="col-xs-12">
				<!-- 内容区域开始 -->

				<!-- 消息通知	 -->
				<div class="col-sm-12">
					<div class="row">
						<div class="col-xs-12">
							<div class="widget-box">
								<div class="widget-header widget-header-flat">
									<h4 class="smaller">第一周任务清单</h4>
								</div>

								<div class="widget-body">
									<div class="widget-main">
										<code class="pull-right" id="dt-list-code">&lt;dl&gt;</code>

										<dl id="dt-list-1">
											<dt>Description lists</dt>
											<dd>A description list is perfect for defining terms.</dd>
											<dt>Euismod</dt>
											<dd>
												Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
											</dd>
											<dd>Donec id elit non mi porta gravida at eget metus.</dd>
											<dt>Malesuada porta</dt>
											<dd>Etiam porta sem malesuada magna mollis euismod.</dd>
											<dt>Felis euismod semper eget lacinia</dt>
											<dd>
												Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
											</dd>
										</dl>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="space-6"></div>

				</div>
				<!-- 消息通知结束 -->

				<!-- 内容区域结束 -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content -->
</div>
<!-- /.main-content -->