<!-- 底部导航栏开始 -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 class="wow fadeIn" data-wow-delay="0.9s">关注我们</h2>
                <ul class="social-icon">
                    <div class="wechatcode">
                        <img src="__PUBLIC__/img/barcode.jpg" class="img-thumbnail"></div>
                    <li>
                        <a href="#" class="fa fa-wechat wow bounceIn wechat" data-wow-delay="0.3s"></a>
                    </li>
                    <li>
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=&site=qq&menu=yes" class="fa fa-qq wow bounceIn" data-wow-delay="0.6s"></a>
                    </li>
                    <li>
                        <a href="http://weibo.com/tzxyshop" target="_blank" class="fa fa-weibo wow bounceIn" data-wow-delay="0.9s"></a>
                    </li>
                    <li>
                        <a href="http://t.qq.com/taiyuandia5374" target="_blank" class="fa fa-tencent-weibo wow bounceIn" data-wow-delay="0.9s"></a>
                    </li>
                    <li>
                        <a href="http://www.renren.com/902065193" target="_blank" class="fa  fa-renren wow bounceIn" data-wow-delay="0.9s"></a>
                    </li>
                    <li>
                        <a href="tel:665600" class="fa fa-phone wow bounceIn" data-wow-delay="0.9s"></a>
                    </li>

                </ul>
            </div>
            <div class="col-md-12 col-sm-12 copyright">
                <p>Copyright © 2016 台院电商实验室 | wjun89757@foxmail.com</p>
            </div>
        </div>
    </div>
</footer>