<!DOCTYPE html>
<html lang="en">
<head>
	<title>台州学院-电商实验室</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<!-- STYLESHEET CSS FILES -->
	<!-- 基本样式 -->
	<load href="__PUBLIC__/css/jquery-ui.css" />
	<load href="__PUBLIC__/css/bootstrap.min.css" />
	<load href="__PUBLIC__/css/animate.min.css" />
	<load href="__PUBLIC__/css/font-awesome.min.css" />
	<load href="__PUBLIC__/css/nivo-lightbox.css" />
	<load href="__PUBLIC__/css/nivo_themes/default/default.css" />
	<load href="__PUBLIC__/css/templatemo-style.css" />
	<!-- 加载动态云背景 -->
	<load href="__PUBLIC__/css/clouds.css" />
	<!-- 登录注册窗口 -->
	<load href="__PUBLIC__/css/demo.css" />
	<load href="__PUBLIC__/css/iziModal.css" />
	<!-- 自建样式 -->
	<load href="__PUBLIC__/css/style.css" />
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
	<include file="Public/header" />
	{__CONTENT__}
	<include file="Public/footer" />
	<!-- JAVASCRIPT JS FILES -->
	<!-- 基本js -->
	<load href="__PUBLIC__/js/jquery.js" />
	<load href="__PUBLIC__/js/bootstrap.min.js" />
	<load href="__PUBLIC__/js/nivo-lightbox.min.js" />
	<load href="__PUBLIC__/js/smoothscroll.js" />
	<load href="__PUBLIC__/js/jquery-ui.js" />
	<load href="__PUBLIC__/js/jquery.sticky.js" />
	<load href="__PUBLIC__/js/jquery.parallax.js" />
	<!-- jquery验证插件 -->
	<load href="__PUBLIC__/js/jquery.cookie.js" />
	<load href="__PUBLIC__/js/jquery.form.js" />
	<load href="__PUBLIC__/js/jquery.validate.js" />
	<load href="__PUBLIC__/js/wow.min.js" />
	<!-- 动态云加载 -->
	<load href="__PUBLIC__/js/clouds.js" />
	<!-- jqeury调用窗口 -->
	<load href="__PUBLIC__/js/custom.js" />
	<!-- 登录注册窗口 -->
	<load href="__PUBLIC__/js/iziModal.js" />
</body>
</html>